$altura: 100px;
$altura2: 200px;
$altura3: 50px;
$color1: rgb(203, 12, 12);
$color2: rgb(196, 97, 61);
$color3: rgb(236, 78, 78);
$color4: rgb(10, 205, 23);
$color5: rgb(14, 60, 8);
$color6: rgb(189, 236, 78);
$basecolor: rgb(207, 208, 255);

.item {
    background-position: center;
    background-size: cover;
    border: 3px solid red;
    border-radius: 8px;
    transition: all 1s;

    p {
        background-color: white;
    }
}

.item:hover {
    transform: translate(0px, 6px);
}

//bucles
@for $in from 1 through 6 {
    .bucle-#{$in} {
        border: 3px solid darken($color2, $in * 10%);
    }
}

@for $inc from 1 through 16 {
    .degrade-#{$inc} {
        border: 3px solid darken($color2, $inc * 6%);
    }
}

@for $in from 1 through 9 {
    .coloracion-#{$in} {
        border: 3px solid darken($color2, $in * 10%);
    }
}

.galeriamini {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(16, $altura * 5);
    grid-gap: 10px;
    margin: 10px;
}

.galeriaesc {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, ($altura2 * 2) + $altura);
    grid-gap: 10px;
    margin: 10px;
    grid-template-areas:
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "img7"
        "img8"
        "img9";
}

.galeriaman {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, $altura2 * 2);
    grid-gap: 10px;
    margin: 10px;
    grid-template-areas:
        "manual1"
        "manual2"
        "manual3"
        "manualp1"
        "manualp2"
        "manualp3";
}

.manual1 {
    background-image: url(../assets/manual1.jpg);
    grid-area: manual1;
}

.manual2 {
    background-image: url(../assets/manual2.jpg);
    grid-area: manual2;
}

.manual3 {
    background-image: url(../assets/manual3.jpg);
    grid-area: manual3;
}

.manualp1 {
    background-image: url(../assets/manualp1.jpg);
    grid-area: manualp1;
}

.manualp2 {
    background-image: url(../assets/manualp2.jpg);
    grid-area: manualp2;
}

.manualp3 {
    background-image: url(../assets/manualp3.jpg);
    grid-area: manualp3;
}

.item1 {
    background-image: url(../assets/min1.jpg);
}

.item2 {
    background-image: url(../assets/min2.jpg);
}

.item3 {
    background-image: url(../assets/min3.jpg);
}

.item4 {
    background-image: url(../assets/min4.jpg);
}

.item5 {
    background-image: url(../assets/min5.jpg);
}

.item6 {
    background-image: url(../assets/min6.jpg);
}

.item7 {
    background-image: url(../assets/min7.jpg);
}

.item8 {
    background-image: url(../assets/min8.jpg);
}

.item9 {
    background-image: url(../assets/min9.jpg);
}

.item10 {
    background-image: url(../assets/min10.jpg);
}

.item11 {
    background-image: url(../assets/min11.jpg);
}

.item12 {
    background-image: url(../assets/min12.jpg);
}

.item13 {
    background-image: url(../assets/min13.jpg);
}

.item14 {
    background-image: url(../assets/min14.jpg);
}

.item15 {
    background-image: url(../assets/min15.jpg);
}

.item16 {
    background-image: url(../assets/min16.jpg);
}

.iteme1 {
    background-image: url(../assets/es1.jpg);
    grid-area: img1;
}

.iteme2 {
    background-image: url(../assets/es2.jpg);
    grid-area: img2;
}

.iteme3 {
    background-image: url(../assets/es3.jpg);
    grid-area: img3;
}

.iteme4 {
    background-image: url(../assets/es4.jpg);
    grid-area: img4;
}

.iteme5 {
    background-image: url(../assets/es5.jpg);
    grid-area: img5;
}

.iteme6 {
    background-image: url(../assets/es6.jpg);
    grid-area: img6;
}

.iteme7 {
    background-image: url(../assets/es7.jpg);
    grid-area: img7;
}

.iteme8 {
    background-image: url(../assets/es8.jpg);
    grid-area: img8;
}

.iteme9 {
    background-image: url(../assets/es9.jpg);
    grid-area: img9;
}

@media only screen and (min-width: 320px) {
    .galeriamini {
        grid-gap: 20px;
        margin: 20px;
    }

    .galeriaesc {
        grid-gap: 20px;
        margin: 20px;
    }

    .galeriaman {
        grid-gap: 20px;
        margin: 20px;
    }
}

@media only screen and (min-width: 370px) {
    .galeriaman {
        grid-template-rows: repeat(6, ($altura * 4)+$altura3);
    }
}

@media only screen and (min-width: 405px) {
    .galeriaman {
        grid-template-rows: repeat(6, $altura * 5);
    }
}

@media only screen and (min-width: 450px) {
    .galeriaman {
        grid-template-rows: repeat(6, $altura * 6);
    }
}

@media only screen and (min-width: 540px) {
    .galeriaman {
        grid-template-rows: repeat(6, ($altura * 6)+ $altura3);
    }
}

@media only screen and (min-width: 585px) {
    .galeriaman {
        grid-template-rows: repeat(6, ($altura * 6)+$altura);
    }
}

@media only screen and (min-width: 630px) {
    .galeriaman {
        grid-template-rows: repeat(6, ($altura * 6)+$altura2);
    }
}

@media only screen and (min-width: 720px) {
    .galeriamini {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8, $altura2 * 3);
        grid-gap: 30px;
        margin: 30px;
    }

    .galeriaman {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, ($altura * 4)+ $altura3);
        grid-gap: 30px;
        margin: 30px;

        grid-template-areas:
            "manual1 manual2"
            "manual3 manualp1"
            "manualp2 manualp3";
    }

    .galeriaesc {
        grid-gap: 30px;
        margin: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, $altura2 * 3);
        grid-template-areas:
            "img1 img1"
            "img2 img3"
            "img4 img5"
            "img6 img7"
            "img8 img9";
    }
}

@media only screen and (min-width: 810px) {
    .galeriaman {
        grid-template-rows: repeat(3, $altura * 5);
    }
}

@media only screen and (min-width: 900px) {
    .galeriaman {
        grid-template-rows: repeat(3, ($altura * 5)+$altura3 );
    }
}

@media only screen and (min-width: 1000px) {
    .galeriaman {
        grid-template-rows: repeat(3, ($altura * 6)+$altura3 );
    }
}

@media only screen and (min-width: 1200px) {
    .galeriamini {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(6, $altura2 * 3);
    }

    .galeriaman {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, $altura * 5);

        grid-template-areas:
            "manual1 manual2 manual3 "
            "manualp1 manualp2 manualp3";
    }

    .galeriaesc {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, $altura2 * 3);
        grid-template-areas:
            "img1 img1 img2"
            "img3 img4 img4"
            "img5 img5 img6"
            "img7 img8 img9";
    }

    .item1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .item2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .item3 {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .item15 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .item16 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .item4 {
        grid-column: 3/4;
        grid-row: 2/4;
    }

    .item5 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .item6 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .item7 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .item8 {
        grid-column: 2/4;
        grid-row: 4/5;
    }

    .item9 {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .item10 {
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .item11 {
        grid-column: 3/4;
        grid-row: 5/6;
    }

    .item12 {
        grid-column: 1/2;
        grid-row: 6/7;
    }

    .item13 {
        grid-column: 2/3;
        grid-row: 6/7;
    }

    .item14 {
        grid-column: 3/4;
        grid-row: 6/7;
    }
}

@media only screen and (min-width: 1360px) {
    .galeriaman {
        grid-template-rows: repeat(3, $altura * 6);
    }
}

@media only screen and (min-width: 1620px) {
    .galeriaman {
        grid-template-rows: repeat(3, $altura * 7);
    }
}

@media only screen and (min-width: 1900px) {
    .galeriaman {
        grid-template-rows: repeat(3, $altura * 8);
    }
}

@media only screen and (min-width: 2150px) {
    .galeriaman {
        grid-template-rows: repeat(3, $altura * 9);
    }
}

@media only screen and (min-width: 2150px) {
    .galeriaman {
        grid-template-rows: repeat(3, $altura2 * 5);
    }
}