@font-face {
  font-family: ancient;
  src: url(../assets/Font/Ancient\ Medium.ttf);
}
@font-face {
  font-family: godofwar;
  src: url(../assets/Font/GODOFWAR.TTF);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), linear-gradient(to top right, rgba(232, 70, 0, 0.39), rgba(19, 156, 124, 0.253)), url(../assets/fondol.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  text-transform: capitalize;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Georgia, "Times New Roman", Times, sans-serif;
}

.propiedadesh, h2, h1 {
  letter-spacing: 2px;
  color: rgb(203, 12, 12);
}

h1 {
  font-size: 30px;
  font-family: ancient, Georgia, "Times New Roman", Times, sans-serif;
}

h2 {
  font-size: 45px;
  margin: 30px;
  font-family: godofwar, "Times New Roman", Times, sans-serif;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.navbar-toggler {
  border: none;
}
.navbar-toggler .navbar-toggler:focus {
  box-shadow: none;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 30px;
}
ul li {
  font-family: godofwar;
}

a {
  text-decoration: none;
  text-shadow: 0 0 5px black;
  color: rgb(236, 78, 78) !important;
}

article {
  background-color: antiquewhite;
  font-size: 15px;
  border: 2px solid rgb(196, 97, 61);
  border-radius: 8px;
  margin: 20px;
  text-transform: initial;
}

.ws {
  border: 2px solid rgba(0, 0, 0, 0.785);
  margin: 30px;
}
.ws p {
  font-size: 20px;
  color: green;
  font-family: godofwar, "Times New Roman", Times, sans-serif;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}

@media only screen and (min-width: 320px) {
  h1 {
    font-size: 50px;
  }
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 55px;
  }
  article {
    font-size: 25px;
    margin: 30px;
  }
  body {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), linear-gradient(to top right, rgba(232, 70, 0, 0.39), rgba(19, 156, 124, 0.253)), url(../assets/fondo.jpg);
  }
  .ws p {
    font-size: 50px;
  }
}
footer {
  background-color: rgb(0, 0, 0);
  font-size: 15px;
  color: white;
}
footer a {
  font-size: 30px;
  letter-spacing: 8px;
}
footer footer :hover {
  color: coral;
}

.party img {
  border-radius: 8px;
  margin-bottom: 20px;
  transition: all 1s;
  border: 2px solid rgb(196, 97, 61);
}

.party img:hover {
  transform: rotate(1deg);
}

.logo {
  transition: all 1s;
}

.logo:hover {
  transform: rotatey(360deg);
}

.dado {
  animation-name: rolldice;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  visibility: hidden;
}

.roll {
  margin-bottom: 30px;
}

.drago {
  width: 300px;
  transition: all 1s;
}

.drago:hover {
  transform: rotatey(360deg);
}

@media only screen and (min-width: 480px) {
  .dado {
    animation-name: rolldice;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    visibility: visible;
  }
}
.item {
  background-position: center;
  background-size: cover;
  border: 3px solid red;
  border-radius: 8px;
  transition: all 1s;
}
.item p {
  background-color: white;
}

.item:hover {
  transform: translate(0px, 6px);
}

.bucle-1 {
  border: 3px solid #9e4d30;
}

.bucle-2 {
  border: 3px solid #773a24;
}

.bucle-3 {
  border: 3px solid #502718;
}

.bucle-4 {
  border: 3px solid #29140c;
}

.bucle-5 {
  border: 3px solid #020100;
}

.bucle-6 {
  border: 3px solid black;
}

.degrade-1 {
  border: 3px solid #ae5535;
}

.degrade-2 {
  border: 3px solid #964a2e;
}

.degrade-3 {
  border: 3px solid #7f3e27;
}

.degrade-4 {
  border: 3px solid #67331f;
}

.degrade-5 {
  border: 3px solid #502718;
}

.degrade-6 {
  border: 3px solid #381c11;
}

.degrade-7 {
  border: 3px solid #21100a;
}

.degrade-8 {
  border: 3px solid #090503;
}

.degrade-9 {
  border: 3px solid black;
}

.degrade-10 {
  border: 3px solid black;
}

.degrade-11 {
  border: 3px solid black;
}

.degrade-12 {
  border: 3px solid black;
}

.degrade-13 {
  border: 3px solid black;
}

.degrade-14 {
  border: 3px solid black;
}

.degrade-15 {
  border: 3px solid black;
}

.degrade-16 {
  border: 3px solid black;
}

.coloracion-1 {
  border: 3px solid #9e4d30;
}

.coloracion-2 {
  border: 3px solid #773a24;
}

.coloracion-3 {
  border: 3px solid #502718;
}

.coloracion-4 {
  border: 3px solid #29140c;
}

.coloracion-5 {
  border: 3px solid #020100;
}

.coloracion-6 {
  border: 3px solid black;
}

.coloracion-7 {
  border: 3px solid black;
}

.coloracion-8 {
  border: 3px solid black;
}

.coloracion-9 {
  border: 3px solid black;
}

.galeriamini {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(16, 500px);
  grid-gap: 10px;
  margin: 10px;
}

.galeriaesc {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 500px);
  grid-gap: 10px;
  margin: 10px;
  grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8" "img9";
}

.galeriaman {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 400px);
  grid-gap: 10px;
  margin: 10px;
  grid-template-areas: "manual1" "manual2" "manual3" "manualp1" "manualp2" "manualp3";
}

.manual1 {
  background-image: url(../assets/manual1l.jpg);
  grid-area: manual1;
}

.manual2 {
  background-image: url(../assets/manual2l.jpg);
  grid-area: manual2;
}

.manual3 {
  background-image: url(../assets/manual3l.jpg);
  grid-area: manual3;
}

.manualp1 {
  background-image: url(../assets/manualp1l.jpg);
  grid-area: manualp1;
}

.manualp2 {
  background-image: url(../assets/manualp2l.jpg);
  grid-area: manualp2;
}

.manualp3 {
  background-image: url(../assets/manualp3l.jpg);
  grid-area: manualp3;
}

.item1 {
  background-image: url(../assets/min1l.jpg);
}

.item2 {
  background-image: url(../assets/min2l.jpg);
}

.item3 {
  background-image: url(../assets/min3l.jpg);
}

.item4 {
  background-image: url(../assets/min4l.jpg);
}

.item5 {
  background-image: url(../assets/min5l.jpg);
}

.item6 {
  background-image: url(../assets/min6l.jpg);
}

.item7 {
  background-image: url(../assets/min7l.jpg);
}

.item8 {
  background-image: url(../assets/min8l.jpg);
}

.item9 {
  background-image: url(../assets/min9l.jpg);
}

.item10 {
  background-image: url(../assets/min10l.jpg);
}

.item11 {
  background-image: url(../assets/min11l.jpg);
}

.item12 {
  background-image: url(../assets/min12l.jpg);
}

.item13 {
  background-image: url(../assets/min13l.jpg);
}

.item14 {
  background-image: url(../assets/min14l.jpg);
}

.item15 {
  background-image: url(../assets/min15l.jpg);
}

.item16 {
  background-image: url(../assets/min16l.jpg);
}

.iteme1 {
  background-image: url(../assets/es1l.jpg);
  grid-area: img1;
}

.iteme2 {
  background-image: url(../assets/es2l.jpg);
  grid-area: img2;
}

.iteme3 {
  background-image: url(../assets/es3l.jpg);
  grid-area: img3;
}

.iteme4 {
  background-image: url(../assets/es4l.jpg);
  grid-area: img4;
}

.iteme5 {
  background-image: url(../assets/es5l.jpg);
  grid-area: img5;
}

.iteme6 {
  background-image: url(../assets/es6l.jpg);
  grid-area: img6;
}

.iteme7 {
  background-image: url(../assets/es7l.jpg);
  grid-area: img7;
}

.iteme8 {
  background-image: url(../assets/es8l.jpg);
  grid-area: img8;
}

.iteme9 {
  background-image: url(../assets/es9l.jpg);
  grid-area: img9;
}

@media only screen and (min-width: 320px) {
  .galeriamini {
    grid-gap: 20px;
    margin: 20px;
  }
  .galeriaesc {
    grid-gap: 20px;
    margin: 20px;
  }
  .galeriaman {
    grid-gap: 20px;
    margin: 20px;
  }
}
@media only screen and (min-width: 370px) {
  .galeriaman {
    grid-template-rows: repeat(6, 450px);
  }
}
@media only screen and (min-width: 405px) {
  .galeriaman {
    grid-template-rows: repeat(6, 500px);
  }
}
@media only screen and (min-width: 450px) {
  .galeriaman {
    grid-template-rows: repeat(6, 600px);
  }
}
@media only screen and (min-width: 540px) {
  .galeriaman {
    grid-template-rows: repeat(6, 650px);
  }
}
@media only screen and (min-width: 585px) {
  .galeriaman {
    grid-template-rows: repeat(6, 700px);
  }
}
@media only screen and (min-width: 630px) {
  .galeriaman {
    grid-template-rows: repeat(6, 800px);
  }
}
@media only screen and (min-width: 720px) {
  .galeriamini {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 600px);
    grid-gap: 30px;
    margin: 30px;
  }
  .galeriaman {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 450px);
    grid-gap: 30px;
    margin: 30px;
    grid-template-areas: "manual1 manual2" "manual3 manualp1" "manualp2 manualp3";
  }
  .galeriaesc {
    grid-gap: 30px;
    margin: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 600px);
    grid-template-areas: "img1 img1" "img2 img3" "img4 img5" "img6 img7" "img8 img9";
  }
  .manual1 {
    background-image: url(../assets/manual1.jpg);
  }
  .manual2 {
    background-image: url(../assets/manual2.jpg);
  }
  .manual3 {
    background-image: url(../assets/manual3.jpg);
  }
  .manualp1 {
    background-image: url(../assets/manualp1.jpg);
  }
  .manualp2 {
    background-image: url(../assets/manualp2.jpg);
  }
  .manualp3 {
    background-image: url(../assets/manualp3.jpg);
  }
  .item1 {
    background-image: url(../assets/min1.jpg);
  }
  .item2 {
    background-image: url(../assets/min2.jpg);
  }
  .item3 {
    background-image: url(../assets/min3.jpg);
  }
  .item4 {
    background-image: url(../assets/min4.jpg);
  }
  .item5 {
    background-image: url(../assets/min5.jpg);
  }
  .item6 {
    background-image: url(../assets/min6.jpg);
  }
  .item7 {
    background-image: url(../assets/min7.jpg);
  }
  .item8 {
    background-image: url(../assets/min8.jpg);
  }
  .item9 {
    background-image: url(../assets/min9.jpg);
  }
  .item10 {
    background-image: url(../assets/min10.jpg);
  }
  .item11 {
    background-image: url(../assets/min11.jpg);
  }
  .item12 {
    background-image: url(../assets/min12.jpg);
  }
  .item13 {
    background-image: url(../assets/min13.jpg);
  }
  .item14 {
    background-image: url(../assets/min14.jpg);
  }
  .item15 {
    background-image: url(../assets/min15.jpg);
  }
  .item16 {
    background-image: url(../assets/min16.jpg);
  }
  .iteme1 {
    background-image: url(../assets/es1.jpg);
  }
  .iteme2 {
    background-image: url(../assets/es2.jpg);
  }
  .iteme3 {
    background-image: url(../assets/es3.jpg);
  }
  .iteme4 {
    background-image: url(../assets/es4.jpg);
  }
  .iteme5 {
    background-image: url(../assets/es5.jpg);
  }
  .iteme6 {
    background-image: url(../assets/es6.jpg);
  }
  .iteme7 {
    background-image: url(../assets/es7.jpg);
  }
  .iteme8 {
    background-image: url(../assets/es8.jpg);
  }
  .iteme9 {
    background-image: url(../assets/es9.jpg);
  }
}
@media only screen and (min-width: 810px) {
  .galeriaman {
    grid-template-rows: repeat(3, 500px);
  }
}
@media only screen and (min-width: 900px) {
  .galeriaman {
    grid-template-rows: repeat(3, 550px);
  }
}
@media only screen and (min-width: 1000px) {
  .galeriaman {
    grid-template-rows: repeat(3, 650px);
  }
}
@media only screen and (min-width: 1200px) {
  .galeriamini {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 600px);
  }
  .galeriaman {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 500px);
    grid-template-areas: "manual1 manual2 manual3 " "manualp1 manualp2 manualp3";
  }
  .galeriaesc {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 600px);
    grid-template-areas: "img1 img1 img2" "img3 img4 img4" "img5 img5 img6" "img7 img8 img9";
  }
  .item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .item3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item15 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item16 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .item4 {
    grid-column: 3/4;
    grid-row: 2/4;
  }
  .item5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .item6 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .item7 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .item8 {
    grid-column: 2/4;
    grid-row: 4/5;
  }
  .item9 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .item10 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .item11 {
    grid-column: 3/4;
    grid-row: 5/6;
  }
  .item12 {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .item13 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .item14 {
    grid-column: 3/4;
    grid-row: 6/7;
  }
}
@media only screen and (min-width: 1360px) {
  .galeriaman {
    grid-template-rows: repeat(3, 600px);
  }
}
@media only screen and (min-width: 1620px) {
  .galeriaman {
    grid-template-rows: repeat(3, 700px);
  }
}
@media only screen and (min-width: 1900px) {
  .galeriaman {
    grid-template-rows: repeat(3, 800px);
  }
}
@media only screen and (min-width: 2150px) {
  .galeriaman {
    grid-template-rows: repeat(3, 900px);
  }
}
@media only screen and (min-width: 2150px) {
  .galeriaman {
    grid-template-rows: repeat(3, 1000px);
  }
}
@keyframes rolldice {
  0% {
    opacity: 1;
  }
  15% {
    transform: rotate(360deg);
  }
  25% {
    transform: translatex(100px);
  }
  50% {
    opacity: 0;
  }
  80% {
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
  }
}
form {
  margin: 30px !important;
}

/*# sourceMappingURL=style.css.map */
