@font-face {
  font-family: ancient;
  src: url(../assets/Font/Ancient\ Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-toggler {
  border: none;
}
body {
  background-color: rgb(249, 205, 151);
  text-transform: capitalize;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Georgia, "Times New Roman", Times, sans-serif;
}

h1 {
  font-family: ancient, Georgia, "Times New Roman", Times, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  color: coral;
  text-shadow: 0 0 5px black;
}

h2 {
  font-family: ancient, Georgia, "Times New Roman", Times, sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
  margin: 30px;
  color: coral;
  text-shadow: 0 0 7px black;
}

a {
  text-decoration: none;
  color: rgb(237, 138, 102);
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 30px;
}

form {
  margin: 30px !important;
}

footer {
  background-color: rgb(0, 0, 0);
  font-size: 15px;
  color: white;
}

.party img {
  border: 2px solid rgb(196, 97, 61);
  border-radius: 8px;
}
footer a {
  font-size: 30px;
  letter-spacing: 8px;
}

footer :hover {
  color: coral;
}

div p {
  background-color: aliceblue;
}

article {
  background-color: antiquewhite;
  font-size: 18px;
  margin: 30px;
  border: 2px solid rgb(196, 97, 61);
  border-radius: 8px;
}

.drago {
  width: 300px;
}

.galeriamini {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(16, 500px);
  grid-gap: 30px;
  margin: 30px;
}

.galeriaesc {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 500px);
  grid-gap: 30px;
  margin: 30px;
  grid-template-areas:
    "img1"
    "img2"
    "img3"
    "img4"
    "img5"
    "img6"
    "img7"
    "img8"
    "img9";
}

.galeriaman {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 800px);
  grid-gap: 30px;
  margin: 30px;
  grid-template-areas:
    "manual1"
    "manual2"
    "manual3"
    "manualp1"
    "manualp2"
    "manualp3";
}

.item {
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.manual1 {
  background-image: url(../assets/manual1.jpg);
  grid-area: manual1;
}

.manual2 {
  background-image: url(../assets/manual2.jpg);
  grid-area: manual2;
}

.manual3 {
  background-image: url(../assets/manual3.jpg);
  grid-area: manual3;
}

.manualp1 {
  background-image: url(../assets/manualp1.jpg);
  grid-area: manualp1;
}

.manualp2 {
  background-image: url(../assets/manualp2.jpg);
  grid-area: manualp2;
}

.manualp3 {
  background-image: url(../assets/manualp3.jpg);
  grid-area: manualp3;
}

.item1 {
  background-image: url(../assets/min1.jpg);
}

.item2 {
  background-image: url(../assets/min2.jpg);
}

.item3 {
  background-image: url(../assets/min3.jpg);
}

.item4 {
  background-image: url(../assets/min4.jpg);
}

.item5 {
  background-image: url(../assets/min5.jpg);
}

.item6 {
  background-image: url(../assets/min6.jpg);
}

.item7 {
  background-image: url(../assets/min7.jpg);
}

.item8 {
  background-image: url(../assets/min8.jpg);
}

.item9 {
  background-image: url(../assets/min9.jpg);
}

.item10 {
  background-image: url(../assets/min10.jpg);
}

.item11 {
  background-image: url(../assets/min11.jpg);
}

.item12 {
  background-image: url(../assets/min12.jpg);
}

.item13 {
  background-image: url(../assets/min13.jpg);
}

.item14 {
  background-image: url(../assets/min14.jpg);
}

.item15 {
  background-image: url(../assets/min15.jpg);
}

.item16 {
  background-image: url(../assets/min16.jpg);
}

.iteme1 {
  background-image: url(../assets/es1.jpg);
  grid-area: img1;
}

.iteme2 {
  background-image: url(../assets/es2.jpg);
  grid-area: img2;
}

.iteme3 {
  background-image: url(../assets/es3.jpg);
  grid-area: img3;
}

.iteme4 {
  background-image: url(../assets/es4.jpg);
  grid-area: img4;
}

.iteme5 {
  background-image: url(../assets/es5.jpg);
  grid-area: img5;
}

.iteme6 {
  background-image: url(../assets/es6.jpg);
  grid-area: img6;
}

.iteme7 {
  background-image: url(../assets/es7.jpg);
  grid-area: img7;
}

.iteme8 {
  background-image: url(../assets/es8.jpg);
  grid-area: img8;
}

.iteme9 {
  background-image: url(../assets/es9.jpg);
  grid-area: img9;
}

@media only screen and (min-width: 325px) {
  h1 {
    font-size: 55px;
  }
}
@media only screen and (min-width: 768px) {
  article {
    font-size: 25px;
  }
  .galeriamini {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 300px);
  }
  .galeriaman {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 500px);

    grid-template-areas:
      "manual1 manual2"
      "manual3 manualp1"
      "manualp2 manualp3";
  }

  .galeriaesc {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 500px);
    grid-template-areas:
      "img1 img1"
      "img2 img3"
      "img4 img5"
      "img6 img7"
      "img8 img9";
  }
}
@media only screen and (min-width: 1200px) {
  .galeriamini {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 400px);
  }
  .galeriaman {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 500px);

    grid-template-areas:
      "manual1 manual2 manual3 "
      "manualp1 manualp2 manualp3";
  }
  .galeriaesc {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 400px);
    grid-template-areas:
      "img1 img1 img3"
      "img6 img4 img4"
      "img7 img7 img2"
      "img5 img8 img9";
  }
  .item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .item3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item15 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item16 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .item4 {
    grid-column: 3/4;
    grid-row: 2/4;
  }
  .item5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .item6 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .item7 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .item8 {
    grid-column: 2/4;
    grid-row: 4/5;
  }
  .item9 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .item10 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .item11 {
    grid-column: 3/4;
    grid-row: 5/6;
  }
  .item12 {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .item13 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .item14 {
    grid-column: 3/4;
    grid-row: 6/7;
  }
}
